body
{
    color: #333;
    text-align: center;
    font-family: "Ariasl";
    font-size: 25px;
    margin: 10;
    padding: 10;
}

#cabecera
{
    background: #33a;
    box-shadow: 0px 2px 20px 0px fgba(0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline
{
    margin: 0 0 0 1em;
    font-weight:: normal;
    fon-size: 0.8em;
}
#container
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border:5px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 75;
    0px;
}
#container p
{
    font-size: 30;
    2px;
}
#post
{
    padding: 1em;
}